@font-face {
  font-family: "Outfit";
  src: url("./assets/fonts/outfit/Outfit-VariableFont_wght.ttf");
  font-weight: 100 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Young Serif";
  src: url("./assets/fonts/young-serif/YoungSerif-Regular.ttf");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

:root {
  --rose-800: hsl(332, 51%, 32%);
  --rose-50: hsl(330, 100%, 98%);
  --stone-100: hsl(30, 54%, 90%);
  --stone-150: hsl(30, 18%, 87%);
  --stone-600: hsl(30, 10%, 34%);
  --stone-900: hsl(24, 5%, 18%);
  --brown-900: hsl(14, 45%, 36%);
  --brown-800: hsl(14, 45%, 36%);
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

img {
  display: block;
  width: 100%;
}

.mobile-container {
  margin: 2.5rem 2rem;
}

.title {
  font-family: "Young Serif", serif;
  font-size: 2.25rem;
  font-weight: 400;
  line-height: 100%;
  letter-spacing: 0;
  margin-bottom: 1.5rem;
  color: var(--stone-900);
}

.intro {
  font-family: Outfit, serif;
  font-size: 1rem;
  font-weight: 400;
  line-height: 150%;
  letter-spacing: 0;
  margin-bottom: 2rem;
  color: var(--stone-600);
}

#preparation {
  padding: 1.5rem;
  margin-bottom: 2rem;
  background-color: var(--rose-50);
}

#preparation h3 {
  font-family: Outfit, sans-serif;
  font-size: 1.25rem;
  font-weight: 600;
  line-height: 100%;
  color: var(--rose-800);
  margin-bottom: 1rem;
}



ol {
  padding-left: 1.5rem;
}

ul li{
  padding-left: .5rem;
  display: flex;
  align-items: center;
  gap: 1.75rem;
}

ul li::before{
  content: "";
  width: .25rem;
  height: .25rem;
  border-radius: 50%;
  background: var(--brown-800);
}

li {
  font-family: Outfit, sans-serif;
  font-size: 1rem;
  font-weight: 400;
  line-height: 150%;
  letter-spacing: 0;
  color: var(--stone-600);
}
ol li{
  padding-left: 1rem;
}

li:not(:last-child) {
  margin-bottom: 0.5rem;
}

li em {
  font-style: normal;
  font-weight: bold;
}

section h2 {
  font-family: "Young Serif", serif;
  font-size: 1.75rem;
  font-weight: 400;
  line-height: 100%;
  letter-spacing: 0;
  color: var(--brown-800);
  margin-bottom: 1.5rem;
}

.content:not(:last-of-type) {
  padding-bottom: 2rem;
  margin-bottom: 2rem;
  border-bottom: 1px solid var(--stone-150);
}

#nutrition p {
  font-family: Outfit, sans-serif;
  font-size: 1rem;
  font-weight: 400;
  line-height: 150%;
  letter-spacing: 0;
  color: var(--stone-600);
}

#nutrition-table {
  width: 100%;
  margin-top: 1.5rem;
  border-collapse: collapse;
  font-family: Outfit, sans-serif;
  font-size: 1rem;
  line-height: 150%;
  color: var(--stone-600);
}

#nutrition-table th {
  font-weight: 400;
}
#nutrition-table td {
  font-weight: bold;
  color: var(--brown-800);
}
#nutrition-table th,
#nutrition-table td {
  text-align: start;
  padding: 0.75rem 2rem;
  border-bottom: 1px solid var(--stone-150);
}

#nutrition-table tr:first-child th,
#nutrition-table tr:first-child td {
  padding-top: 0;
}
#nutrition-table tr:last-child th,
#nutrition-table tr:last-child td {
  padding-bottom: 0;
  border-bottom: none;
}
